<div class="account">
  <div class="form">
    <div class="form-title">
      <h2><%= "#{@recipe.name}のレシピ評価" %></h2>
    </div>
    <%= form_with model: @post, url: yumyum_posts_path do |f| %>
    <div class="form-contents">
      <div class="contents">
        <p>コメント</p>
        <%= f.text_area :content, :placeholder => "コメントを入力してください" %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <div class="submit">
        <%= f.submit "コメント投稿" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
