<div class="account recipe-detail">
  <div class="form recipe-form">
    <div class="form-title">
      <h2><%= @recipe.name %></h2>
      <%= link_to @recipe.main_image.url, "data_lightbox": @recipe.main_image do %>
        <%= image_tag @recipe.main_image.url, class:"img" %>
      <% end %>
    </div>
    <div class="form-contents recipe-contents">
      <div class="chef-info">
        <%= render "detail", recipe: @recipe %>
        <div class="contents">
          <% if @order.present? %>
            <% if @recipe.id == @order.recipe_id %>
              <p><%= link_to "このレシピはこちら", yumyum_recipe_path(@recipe.id) %></p>
            <% end %>
          <% else %>
            <p><%= link_to "このレシピを購入する", yumyum_recipe_orders_path(@recipe.id), recipe_id: @recipe.id, method: :post, id: "purchase" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="relation-products">
    <div class="relation-title">
      <h3>こんなレシピはどうですか？</h3>
    </div>
    <%= render "layouts/relation_products.html.erb", relation_recipes: @relation_recipes %>
  </div>
</div>
<%= javascript_pack_tag "card/purchase.js" %>
