<div class="account">
  <div class="form">
    <div class="form-title">
      <h2>プロフィール</h2>
    </div>
    <%= form_with model: @user, :url => { :action => :update} do |f| %>
    <div class="form-contents">
      <div class="contents">
        <p>プロフィール画像</p>
        <%= f.file_field :image %>
      </div>
      <div class="contents">
        <p>お名前</p>
        <%= f.text_field :name, :placeholder => "お名前を入力してください" %>
      </div>
      <div class="contents">
        <p>メールアドレス</p>
        <%= f.text_field :email, :placeholder => "メールアドレスを入力してください" %>
      </div>
      <div class="content">
        <p>性別</p>
        <%= f.radio_button :sex, "男性" %><span>男性</span> <%= f.radio_button :sex, "女性" %><span>女性</span>
      </div>
      <div class="contents">
        <p>年齢</p>
        <%= f.select :age,[ ["10代","10代"],["20代","20代"],["30代","30代"],["40代","40代"],["50代","50代"],["60代以降","60代以降"]] %>
      </div>
      <% if @user.id == current_user.id %>
        <div class="submit">
          <%= f.submit "プロフィール登録" %>
          <%= link_to "アカウントを削除する", "/yumyum/users/#{current_user.id}", method: :delete %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
