<ul class="genre">
  <li>ジャンル
    <ul class="genreSub">
      <li><%= link_to "主食", "/yumyum/genres/1", id: 1 %></li>
      <li><%= link_to "副食", "/yumyum/genres/2", id: 2 %></li>
      <li><%= link_to "スープ", "/yumyum/genres/3", id: 3 %></li>
      <li><%= link_to "ドレッシング・ソース", "/yumyum/genres/4", id: 4 %></li>
      <li><%= link_to "デザート", "/yumyum/genres/5", id: 5 %></li>
    </ul>
  </li>
</Ul>
