<header>
  <div class="header-logo">
    <h3><%= link_to "YUMYUM", yumyum_root_path %></h3>
  </div>
  <div class="product-search">
    <%= form_with url:yumyum_search_path, method: :get, local: true do |f|%>
      <%= f.text_field :address, placeholder: "料理名や食材を入力してください" %>
      <% f.submit 'Search', :name => "" %>
    <% end %>
  </div>
  <div class="genle">
    <%= link_to "レシピ一覧", yumyum_recipes_path %>
    <% if chef_signed_in? %>
      <%= link_to "レシピを登録する", new_yumyum_recipe_path %>
    <% end %>

  </div>
  <% if user_signed_in? or chef_signed_in? %>
    <div class="login-menu">
      <% if user_signed_in? %>
        <%= link_to "マイページ", "/yumyum/users/#{current_user.id}" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "マイページ", "/yumyum/chefs/#{current_chef.id}" %>
        <%= link_to "ログアウト",destroy_chef_session_path, method: :delete %>
      <% end %>
    </div>
  <% else %>
    <div class="login-menu">
      <%= link_to "新規登録", new_yumyum_user_path %>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  <% end %>
</header>
