<header>
  <div class="header-logo">
    <h3><%= link_to "YUMYUM", yumyum_root_path %></h3>
  </div>
  <div class="product-search">
    <%= form_with url:yumyum_search_path, method: :get, local: true do |f|%>
      <%= f.text_field :search, placeholder: "料理名や食材を入力してください" %>
      <% f.submit 'Search', :name => "" %>
    <% end %>
  </div>
  <ul class="genre">
    <li>ジャンル
      <ul class="genreSub">
        <li><%= link_to "主食", "/yumyum/genre", genre:"主食" %></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
  </Ul>
  <ul class="menu">
    <li>Menu
      <ul class="menuSub">
        <li><%= link_to "レシピ一覧", yumyum_recipes_path %></li>
        <li><%= link_to "シェフ一覧", yumyum_chefs_path %></li>
          <% if user_signed_in? or chef_signed_in? %>
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", "/yumyum/users/#{current_user.id}" %></li>
              <li><%= link_to "購入履歴", "/yumyum/users/purchase_recipes/#{current_user.id}" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "レシピを登録する", new_yumyum_recipe_path %></li>
              <li><%= link_to "マイページ", "/yumyum/chefs/#{current_chef.id}" %></li>
              <li><%= link_to "ログアウト",destroy_chef_session_path, method: :delete %></li>
            <% end %>
          <% else %>
            <li><%= link_to "新規登録", new_yumyum_user_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
      </ul>
    </li>
  </ul>
</header>
<%= javascript_pack_tag "header/menu_btn.js" %>
