<div class="chefs-list">
  <% relation_recipes.each do |relation_recipe| %>
    <div class="chefs-contents">
      <%= link_to "/yumyum/recipes/detail/#{relation_recipe.id}" do %>
      <div class="chef-logo">
        <% if relation_recipe.main_image? %>
          <%= image_tag relation_recipe.main_image.thumb.url, class: "recipe-logo" %>
        <% else %>
          <%= image_tag "usericon.png" %>
        <% end %>
      </div>
      <div class="chef-info">
        <div class="details">
          <p class="hoge">料理名：</p>
          <p><%= relation_recipe.name %></p>
        </div>
        <div class="details">
          <p class="hoge">シェフ：</p>
          <p><%= relation_recipe.chef.name %></p>
        </div>
        <div class="details">
          <p class="hoge">価格：</p>
          <p>¥<%= relation_recipe.genre.price %></p>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
